
{% extends 'inicio/index.html' %}
{% load static %}
{% block titulo %}
Proveedor
{% endblock %}
{% block imagen %}
{% static 'img/Proveedor.jpg' %}
{% endblock imagen %}
{% block titulo_principal %}
{% endblock  %}
{% block title %}
Proveedores
{% endblock %}
   {% block buscador %}
          <div class="container">
              <div class="row">
                  <div class="col-md-12 search">
                      <form method="get">
                          <div id=" custom-search-input">
                             <div class="input-group col-md-12">
                                 <input type="text" class="form-control" placeholder="Buscar..." name="buscar" value="{{ request.GET.buscar }}">
                                 <span class="input-group-list">
                                 <i class="icon icon-search"></i>
                                    <button type="submit" class="boton btn-success">Buscar</button>
                                 </span>
                             </div>
                          </div>
                      </form>
                  </div>
             </div>
          </div>
{% endblock %}
{% block post %}
    <h1 align="center">LISTA DE PROVEEDOR</h1>
<table align="center" border="1" style="width:auto; height:20px;" class="table table-condensed table-bordered table-hover">
<thead>
  <tr align="center" class="active">

        <th>ID</th>
        <th>Nit</th>
        <th>Nombre</th>
        <th>Representante legal</th>
        <th>Ciudad</th>
        <th>Direccion</th>
        <th>Telefono</th>

    </thead>
    <tbody>

    {% for proveedor in proveedor %}


        <tr>
        <td>{{ proveedor.Prov_ID }}</td>
        <td>{{ proveedor.Prov_nit }}</td>
        <td>{{ proveedor.Prov_nombre }}</td>
        <td>{{ proveedor.Prov_replegal }}</td>
        <td>{{ proveedor.Prov_ciudad }}</td>
        <td>{{ proveedor.Prov_direccion }}</td>
        <td>{{ proveedor.Prov_telefono }}</td>
        <td><button onclick="abrir_modal_edicion('{% url 'tendero:editarProveedor' proveedor.Prov_ID %}')"class="btn btn-dark">Editar</button></td>
        <td><button onclick="abrir_modal_elimnar('{% url 'tendero:elimnarProveedor' proveedor.Prov_ID %}')"class="btn btn-dark">Eliminar</button></td>
        </tr>
    {% endfor %}
   </table>


{% block crear %}
    <div class="modal fade" id="edicion" role="dialog">
    </div>
{% endblock %}
{% block editar %}
    <div class="modal fade" id="creacion" role="dialog">
    </div>
{% endblock %}
{% block elimnar %}
    <div class="modal fade" id="Eliminar" role="dialog">
    </div>
{% endblock %}

{% endblock post %}
{% block extrajs %}
    <script type="text/javascript">
      var $ = jQuery.noConflict();
    function abrir_modal_edicion(url){
        $('#edicion').load(url,function (){
            $(this).modal('show');
        });
    }
    function abrir_modal_creacion(url){
        $('#creacion').load(url,function (){
            $(this).modal('show');
        });
    }
    function abrir_modal_elimnar(url){
        $('#Eliminar').load(url,function (){
            $(this).modal('show');
        });
    }
    </script>
{% endblock extrajs %}
      {% block boton1 %}
    <button class="btn btn-primary" type="button" onclick="abrir_modal_creacion('{% url 'tendero:crearProveedor' %}')">Crear proveedor</button>
{% endblock boton1  %}
{% block botons %}
 <div class="clearfix">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                {% if proveedor.has_next %}
                     <a href="?page={{ proveedor.next_page_number }}{% if request.GET.search %}&q={{ request.GET.search }}{% endif %} " class="btn btn-primary float-right">&rarr;</a>
                 {% endif %}
                {% if proveedor.has_previous %}
                    <a href="?page={{ proveedor.previous_page_number }}{% if request.GET.search %}&q={{ request.GET.search }}{% endif %}" class="btn btn-primary float-left">&larr;</a>
                {% endif %}
          </div>
    </div>
</div>
{% endblock %}
